<div class="grid_container">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 350px;">
      <div class="card-body d-flex flex-column">
        <h3 class="card-title"><%= flat.name %></h3>
        <p class="card-text"><strong>Descritpion</strong>: <%= flat.description %></p>
        <%= link_to "Learn more!", flat_path(flat), class:"btn btn-primary mt-auto" %>
      </div>
    </div>
  <% end %>
</div>
